html {
  overflow-y: hidden;
}

body {
  text-align: center;
  background: #09356d;
}

#yesButton3 {
  background-color: #3775c6;
  margin: auto;
  margin-top: 10%;
  border: none;
  text-align: center;
  color: white;
  font-size: 50px;
  width: 400px;
  display: block;
}
